<footer class="stopka">Podane na tej stronie informacje mają charakter wyłącznie poglądowy i nie stanowią oferty
    w rozumieniu
    przepisów
    kodeksu
    cywilnego ani przyrzeczenia udzielenia określonego w
    jego treści finansowania. Pomimo dołożenia wszelkich starań może zawierać błędy i/lub pewne uproszczenia.
    Strona zawiera wyłącznie informacje dodatkowe, które zgodnie z art.12 ustawy o kredycie
    hipotecznym oraz o nadzorze nad pośrednikami
    kredytu hipotecznego i agentami mogą być przekazane konsumentowi przez agenta kredytu hipotecznego. Celem
    strony
    jest zwrócenie uwagi konsumenta na
    parametry poszczególnych ofert kredytowych. Wszelkie informacje wymagane przepisami ustawy o kredycie
    hipotecznym
    oraz
    o nadzorze nad pośrednikami
    kredytu hipotecznego i agentami przekazywane są oddzielnie w dokumentach i terminach uwzględniających
    procedury
    kredytowe poszczególnych kredytodawców.
    <br>
    <br>
    Middlers Sp. z o.o. z siedzibą we Wrocławiu ul. Leszczyńskiego 4/29, 50-078 Wrocław, zarejestrowana w Sądzie
    Rejonowym dla Wrocławia-Fabrycznej KRS 0000532823, NIP 8971803272, REGON 360170795 kapitał zakładowy 5.000,00
    zł wpłacony w całości.

    <br>
    <br>

    <a href="https://middlers.pl/polityka-prywatnosci.html">Polityka prywatnosci</a>
    <br>
    <br>
    <a href="https://middlers.pl/polityka-cookies.html">Polityka cookies</a>

  </footer>
