<!-- 
      DRUGI SIDE NAW - LEWY
    -->

<button style="height: 0; position: absolute;" mat-icon-button>
</button> <!-- bierze na siebie focus po otwarciu sidenav-->


<button (click)="toggleSidenavEdit()" style="float: right; overflow: auto;" mat-icon-button>
  <mat-icon>close</mat-icon>
</button>

<div class="side-naw2">


  <form [formGroup]="myGroup">



    <!-- stara class: class="dane-o-kredycie-element"-->



    <div class="dane-naglowek">Wartość nieruchomości</div>

    <!-- PROPERTY VALUE-->
    <mat-form-field hideRequiredMarker class="filtry-elementy2">
      <input autofocus required min="100000" max="2000000" formControlName="formWartoscNieruchomosci" matInput
        type="number" [(ngModel)]="propertyValue">
      <mat-error>{{errorMessageformWartoscNieruchomosci}}</mat-error>
      <span matSuffix>zł</span>
    </mat-form-field>

    <!-- OWN CONTRIBUTION-->
    <div class="dane-naglowek">Wkład własny: <span> {{propertyValue * (sliderValue / 100)
        | currency:'zł':'symbol':'1.0-0':'fr'}} </span></div>
    <!-- LOAN AMOUNT-->
    <div class="dane-naglowek">Kwota kredytu: <span> {{propertyValue - (propertyValue *
        (sliderValue / 100)) | currency:'zł':'symbol':'1.0-0':'fr'}}</span>
    </div>
    <!-- CONTRIBUTION SLIDER -->
    <mat-slider (input)="sliderValue = $event.value" [(ngModel)]="sliderValue" [ngModelOptions]="{standalone: true}"
      style="margin-top: 20px;" class="filtry-elementy2 suwak" thumbLabel [displayWith]="contributionSliderLabel"
      min="10" max="49">
    </mat-slider>

    <!--NUMBER OF YEARS-->
    <div class="dane-naglowek">Liczba lat</div>
    <mat-form-field hideRequiredMarker class="filtry-elementy2">
      <input #liczbaLat [(ngModel)]="creditLengthInYears" min="5" max="35" required formControlName="formLiczbaLat"
        matInput type="number" matInput>
      <mat-error>{{errorMessageformLiczbaLat}}</mat-error>
    </mat-form-field>


    <!--POKAŻ OPCJE ZAAWANSOWANE-->
    <mat-slide-toggle #toggle class="filtry-elementy2" style="margin-top: 25px; margin-bottom: 25px;" color="primary">
      Opcje zaawansowane
    </mat-slide-toggle>

    <div *ngIf="toggle.checked">

      <mat-divider></mat-divider>

      <!--RODZAJ NIERUCHOMOSCI-->
      <div class="dane-naglowek">Rodzaj nieruchomości</div>
      <mat-form-field class="filtry-elementy2">
        <mat-select [disabled]="true" [value]="selectedOptionRodzajNieruchomosci">
          <mat-option *ngFor="let RodzajNieruchomosci of RodzajeNieruchomosci" [value]="RodzajNieruchomosci.value">
            {{RodzajNieruchomosci.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint>Opcja zmiany dostępna wkrótce</mat-hint>
      </mat-form-field>

      <!--RODZAJ RAT-->
      <div class="dane-naglowek">Rodzaj rat</div>
      <mat-form-field class="filtry-elementy2">
        <mat-select [disabled]="true" [value]="selectedOptionRaty">
          <mat-option *ngFor="let RodzajRat of RodzajeRat" [value]="RodzajRat.value">
            {{RodzajRat.viewValue}}
          </mat-option>
        </mat-select>
        <mat-hint>Opcja zmiany dostępna wkrótce</mat-hint>
      </mat-form-field>

      <!--WIBOR 3M-->
      <div class="dane-naglowek">WIBOR 3M</div>
      <mat-form-field hideRequiredMarker class="filtry-elementy2">
        <input required min="-10" max="10" formControlName="formWIBOR3M" [(ngModel)]="mWIBOR3M"
          (ngModelChange)="mWIBOR3M = $event" matInput type="number" matInput (input)="mWIBOR3M">
        <span matSuffix>%</span>
        <mat-error>min. -10, max. 10</mat-error>
      </mat-form-field>

      <!--WIBOR 6M-->
      <div class="dane-naglowek">WIBOR 6M</div>
      <mat-form-field hideRequiredMarker class="filtry-elementy2">
        <input required min="-10" max="10" formControlName="formWIBOR6M" [(ngModel)]="mWIBOR6M"
          (ngModelChange)="mWIBOR6M = $event" matInput type="number" matInput (input)="mWIBOR6M">
        <span matSuffix>%</span>
        <mat-error>min. -10, max. 10</mat-error>
      </mat-form-field>
    </div>

    <!--PRZYCISK PRZELICZ-->
    <button mat-button disableRipple [disabled]="!myGroup.valid" class="neumorphism_side-bar"
      style="margin-right: 20px; margin-top: 18px; padding-top: 4px; padding-bottom: 4px;" mat-raised-button
      color="primary" (click)="calculateOffers()"
      onclick='FB.AppEvents.logEvent("Przelicz_navBar_Clicked")'>PRZELICZ</button>
    <div *ngIf="!myGroup.valid" class="error-pod-przelicz">Uzupełnij poprawnie powyższe pola <br>i kliknij
      PRZELICZ
    </div>


    <!-- PRZYCISK KONTAKT Z DORADCĄ-->
    <button mat-button disableRipple class="neumorphism_side-bar" style="margin-right: 20px; margin-top: 18px;"
      mat-raised-button color="accent" (click)="openDialogKontakt()"
      onclick='FB.AppEvents.logEvent("Kontakt_z_doradca_navBar_Clicked")'>
      <mat-icon>contact_support</mat-icon> ZAPYTAJ DORADCĘ
    </button>

    <!-- PRZYCISK SPRAWDŹ ZDOLNOŚĆ-->
    <button mat-button disableRipple class="neumorphism_side-bar" style="margin-right: 20px; margin-top: 18px;"
      mat-raised-button color="accent" (click)="openZohoForm()"
      onclick='FB.AppEvents.logEvent("Sprawdz_zdolnosc__navBar_Clicked")'>
      <mat-icon>calculate</mat-icon> OBLICZ ZDOLNOŚĆ
    </button>

  </form>



  <div style="width: 200px; font-size: 11px; margin-top: 30px; text-align: center;">
    Ta strona korzysta z anonimizowanych plików cookies. Możesz określić warunki ich przechowywania lub dostępu do
    nich. <a href="https://middlers.pl/polityka-cookies.html">Polityka cookies</a>
  </div>

  <button (click)="openDialogBlad()" class="butoon-blad" mat-button color="warn">Zgłoś błąd na stronie</button>


</div>