<mat-toolbar color="primary" class="example-toolbar">

    <button disabled mat-button matTooltip="Opcja dostępna wkrótce">
        <mat-icon>menu</mat-icon> <span class="usun-na-malym"> </span>
    </button>

    <img onclick="location.href='https://middlers.pl/ohipo/'" style="height: 35px; margin-top: 4px;"
        src="https://middlers.pl/ohipo/assets/ohipo-logo-1-bez-ramki-bialy.png" />
    <span class="example-spacer "></span>

    <button mat-button disableRipple class="neumorphism" style="margin-right: 10px;" (click)="clickEditButton()">
        <mat-icon>edit</mat-icon> <span class="usun-na-malym"> EDYTUJ DANE</span>
    </button>

    <button mat-button disableRipple class="neumorphism" style="margin-right: 10px;" (click)="clickFilterButton()">
        <mat-icon>filter_list</mat-icon> <span class="usun-na-malym"> FILTRUJ OFERTY </span>
    </button>

    <button mat-button disableRipple style="color: gold;" mat-raised-button class="neumorphism"
        (click)="openDialogKontakt()" onclick='FB.AppEvents.logEvent("Kontakt_z_doradca_toolbar_Clicked")'>
        <mat-icon style="color: FFC400;">contact_support</mat-icon> <span class="usun-na-malym"> ZAPYTAJ DORADCĘ
        </span>
    </button>

</mat-toolbar>