<div class="example-container">
  <app-navigation-bar (ClickEditButton)="snav2.toggle()" (ClickFilterButton)="snav.toggle()"></app-navigation-bar>

  <mat-sidenav-container class="example-sidenav-container">

    <mat-sidenav position="end" fixedTopGap="64" style="z-index: 100; width: 374px;" #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="64">


      <app-sidenav-filter #sideNavFilter> </app-sidenav-filter>

    </mat-sidenav>


    <mat-sidenav opened="true" fixedTopGap="64" style="z-index: 100; width: 320px; " #snav2
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="64">
      <app-sidenav-edit (ToggleSidenavEditClick)="onToggleSideNaClick()"
        (CalculateOffersClick)="calculateOffers($event)" style="width: 502px"></app-sidenav-edit>
    </mat-sidenav>

    <mat-sidenav-content>



      <div class="mat-app-background">

        <div id="kontener" class="wasko">

          <div #cover class="example-loading-shade">
            <h1 style="margin-top: 150px; margin-left: 8px;">
              Edytuj dane i przelicz oferty aby zobaczyć wyniki w tabeliooo
            </h1>
          </div>



          <table id="tabela" mat-table [dataSource]="offersDataSource" multiTemplateDataRows matSort>


            <ng-container matColumnDef="szczegoly">
              <th class="szczegoly" mat-header-cell *matHeaderCellDef mat-header> </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon>{{ expandedElement !==element ? 'expand_more' : 'expand_less' }}</mat-icon>
              </td>
            </ng-container>


            <ng-container matColumnDef="bank">
              <th class="cell-bank" mat-header-cell *matHeaderCellDef mat-sort-header> Bank </th>
              <td mat-cell *matCellDef="let element"> <img style="height: 36px;"
                  [src]="element.links.get(element.bank)" /> </td>
            </ng-container>


            <ng-container matColumnDef="ofertaNazwa">
              <th matTooltip="Nazwa oferty, marketingowa lub własna." class="cell-oferta-nazwa" mat-header-cell
                *matHeaderCellDef mat-sort-header> Oferta </th>
              <td mat-cell *matCellDef="let element"> <b> {{element.ofertaNazwa}} {{element.alternatywnyOpisOferty}}</b>
                <br>
                <div style="font-size: 11px; color: gray;">{{element.ofertaNazwaDopisek}}</div>
              </td>
            </ng-container>


            <ng-container matColumnDef="kosztyCalkowite">
              <th matTooltip="Suma wszystkich kosztów jakie trzeba zapłacić korzystając z danej oferty."
                class="cell-numer" arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header> Koszty <br>
                całkowite </th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.kosztyCalkowite | currency:'zł':'symbol':'1.0-0':'fr' }}</td>
            </ng-container>


            <ng-container matColumnDef="kosztyPoczatkowe">
              <th
                matTooltip="Suma opłat płatnych gotówką przed uruchomieniem kredytu. W niektórych przypadkach można je kredytować."
                arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header> Opłaty <br>na start </th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.kosztyPoczatkowe | currency:'zł':'symbol':'1.0-0':'fr' }}</td>
            </ng-container>


            <ng-container matColumnDef="rata">
              <th
                matTooltip="Wysokość pierwszej raty. Kolejne mogą maleć lub rosnąć jesli oferta zakłada zmianę oprocentowania w trakcie trwania kredytu."
                arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header> Pierwsza rata <br> miesięczna
              </th>
              <td class="cell-numer" class="cell-numer" mat-cell *matCellDef="let element">
                {{element.rata | currency:'zł':'symbol':'1.0-0':'fr' }}</td>
            </ng-container>

            <ng-container matColumnDef="oplatyMiesieczne">
              <th arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header
                matTooltip="Suma dodatkowych opłat płatnych co miesiąc (lub co roku w przeliczeniu na miesiące). Mogą maleć w miarę spłaty kredytu.">
                Opłaty<br>miesięczne</th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.oplatyMiesieczne| currency:'zł':'symbol':'1.0-0':'fr' }}</td>
            </ng-container>


            <ng-container matColumnDef="marza">
              <th arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header
                matTooltip="Marża lub oprocentowanie nominalne dla ofert z czasowym oprocentowaniem stałym.">
                Marża<br>podstawowa</th>
              <td class="cell-numer" mat-cell *matCellDef="let element"> {{element.marza | number : '1.2-2' }}
                %</td>
            </ng-container>


            <ng-container matColumnDef="LTVobliczone">
              <th arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header
                matTooltip="Informuje jaki procent wartości nieruchomości jest kredytowany.">LTV
              </th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.LTVobliczone * 100 | number : '1.0-1' }} % </td>
            </ng-container>


            <ng-container matColumnDef="doKiedyObowiazuje">
              <th arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header
                matTooltip="Informuje jaki procent wartości nieruchomości jest kredytowany.">Obowiązuje do:
              </th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.doKiedyObowiazuje}}</td>
            </ng-container>



            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

                <div class="kontenerRozwijany" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

                  <div class="example-element-detail">
                    <div class="example-element-description" style="white-space: pre-wrap; width: 600px;">
                      <b>Warunki oferty:</b>
                      <div style="padding-left: 4px;">{{element.warunkiOferty}}
                      </div>
                    </div>
                  </div>

                  <div class="example-element-detail opisyLiczbowe">
                    <div class="example-element-description " style="white-space: pre-wrap;">
                      <b>Opłaty na start:</b>
                      <div *ngIf="element.prowizjaSuma != 0">
                        Prowizja: {{element.prowizjaSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.wycenaMieszkanie != 0">
                        Wycena: {{element.wycenaMieszkanie | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.ubezZycieNaStartSuma != 0">
                        Ubezpieczenie na życie: {{element.ubezZycieNaStartSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.upezpPracaNaStartSuma != 0">
                        Ubezpieczenie od utraty pracy:
                        {{element.upezpPracaNaStartSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                    </div>
                  </div>


                  <div class="example-element-detail opisyLiczbowe">
                    <div class="example-element-description" style="white-space: pre-wrap; width: 500px;">
                      <b
                        matTooltip="Opłaty dodatkowe płatne co miesiąc (lub co roku ale w przeliczeniu na miesiące dla łatwiejszego porównania). Mogą maleć w miarę spłaty kredytu, szczegóły w warunkach oferty.">Opłaty
                        miesięczne:</b>
                      <div *ngIf="element.ubezpZycieSuma != 0">
                        Ubezpieczenie na życie: {{element.ubezpZycieSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.ubezpNieruchSuma != 0">
                        Ubezpieczenie nieruchomości: {{element.ubezpNieruchSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                    </div>
                  </div>


                  <div class="example-element-detail opisyLiczbowe">
                    <div class="example-element-description" style="white-space: pre-wrap; width: 500px;">
                      <b>Koszty całkowite:</b>
                      <div *ngIf="element.odsetkiSuma != 0">
                        Odsetki: {{element.odsetkiSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.prowizjaSuma != 0">
                        Prowizja: {{element.prowizjaSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.wycenaMieszkanie != 0">
                        Wycena: {{element.wycenaMieszkanie | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.ubezpNieruchTOTAL != 0">
                        Ubezpieczenie nieruchomości:
                        {{element.ubezpNieruchTOTAL | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.ubezpZycieTOTAL + element.ubezZycieNaStartSuma != 0">
                        Ubezpieczenie na życie:
                        {{element.ubezpZycieTOTAL + element.ubezZycieNaStartSuma | currency:'zł':'symbol':'1.0-0':'fr'
                        }}
                      </div>
                      <div *ngIf="element.upezpPracaNaStartSuma != 0">
                        Ubezpieczenie od utraty pracy:
                        {{element.upezpPracaNaStartSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                    </div>
                  </div>


                  <div class="example-element-detail opisyLiczbowe">
                    <div class="example-element-description " style="white-space: pre-wrap; width: 500px;">
                      Data obowiązywania: {{element.doKiedyObowiazuje}}
                      <br>
                      ID#{{element.id}}
                    </div>
                  </div>
                </div>
              </td>
            </ng-container>




            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">></tr>

            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

          </table>
        </div>

        <mat-card class="karta-brak-ofert" *ngIf="offersDataSource && offersDataSource.filteredData.length === 0">
          <mat-card-header>
            <mat-card-title>Brak ofert spełniających zadane kryteria.</mat-card-title>
            <mat-card-subtitle>Spróbuj zmniejszyć kwotę kredytu lub wyłacz filtry. Pamiętaj, że kwota
              kredytu
              nie może być wyższa, niż 90% wartości nieruchomości.</mat-card-subtitle>
          </mat-card-header>
        </mat-card>


        <mat-paginator [pageSizeOptions]="[20, 30, 50]"></mat-paginator>

        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>