<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar color="primary" class="example-toolbar">
    <!-- PRZYCISK APLIKACJE-->
    <button disabled mat-button matTooltip="Opcja dostępna wkrótce">
      <mat-icon>menu</mat-icon> <span class="usun-na-malym"> </span>
    </button>

    <img onclick="location.href='https://ohipo.pl'" style="height: 35px; margin-top: 4px;"
      src="https://ohipo.pl/assets/ohipo-logo-1-bez-ramki-bialy.png" />
    <!--Example spacer robi przerwę miedzy lewą stroną Toolbar a prawą, żeby było łądne dopasowanie do prawej i lewej.-->
    <span class="example-spacer "></span>

    <span class="example-spacer usun-na-malym"></span>



    <button mat-button disableRipple class="neumorphism" style="margin-right: 10px;" (click)="snav2.toggle()">
      <mat-icon>edit</mat-icon> <span class="usun-na-malym"> EDYTUJ DANE</span>
    </button>


    <!-- PRZYCISK FILTRUJ-->
    <button mat-button disableRipple class="neumorphism" style="margin-right: 10px;" (click)="snav.toggle()">
      <mat-icon>filter_list</mat-icon> <span class="usun-na-malym"> FILTRUJ OFERTY </span>
    </button>

    <!-- PRZYCISK KONTAKT Z DORADCĄ-->
    <button mat-button disableRipple style="color: gold;" mat-raised-button class="neumorphism"
      (click)="openDialogKontakt()" onclick='FB.AppEvents.logEvent("Kontakt_z_doradca_toolbar_Clicked")'>
      <mat-icon style="color: FFC400;">contact_support</mat-icon> <span class="usun-na-malym"> ZAPYTAJ DORADCĘ </span>
    </button>

  </mat-toolbar>



  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 64 : 0">

    <!-- 
      PIERWSZY SIDE NAW - PRAWY
    -->
    <mat-sidenav position="end" fixedTopGap="64" style="z-index: 100;" #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="64">


      <button style="height: 0; position: absolute;" mat-icon-button>
      </button> <!-- bierze na siebie focus po otwarciu sidenav-->


      <button (click)="snav.toggle()" style="float: left; overflow: auto;" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>

      <div class="side-naw-prawy filtry">

        <div style="padding-top: 16px;">Filtry działają natychmiast</div>

        <mat-divider></mat-divider>


        <div class="filtry-naglowek">Filtry nieruchomości</div>

        <div class="filtry-elementy">
          <mat-checkbox color="primary" matTooltip="Zaznacz, jeśli stan zaawansowania budowy poniżej 90%"
            [formControl]="wTrakcieBudowyFilter">
            Nieruchomość w trakcie budowy
          </mat-checkbox>
        </div>

        <mat-divider></mat-divider>

        <div class="filtry-naglowek">Filtry kredytobiorcy</div>
        <div class="filtry-elementy">
          <mat-form-field>
            <input [formControl]="wDeklarowaneWplywy"
              matTooltip="Wpisz kwotę jaką jesteś w stanie zasilać konto co miesiąc, najlepiej z tytułu wynagrodzenia. Pozostaw pole puste aby wyłączyć ten filtr."
              matInput type="number" matInput placeholder="Deklarowane wpływy na konto">
            <span matSuffix>zł</span>
          </mat-form-field>

          <mat-form-field>
            <input [formControl]="wWiekNajstarszego" #wiekNajstarszegoInput
              matTooltip="Wpisz ile lat w tym roku kończy najstarszy kredytobiorca. Pozostaw pole puste aby wyłączyć ten filtr."
              matInput type="number" matInput placeholder="Wiek najstarszego kredytobiorcy">
            <span matSuffix>lat</span>
          </mat-form-field>
        </div>

        <mat-divider></mat-divider>

        <div matTooltip="Ukryj oferty, które nie akceptują zaznaczonych poniżej źródeł dochodu jako główne."
          class="filtry-naglowek">
          Filtry źródła dochodu</div>

        <div class="filtry-elementy filtryZrodlaDochodu">
          <mat-checkbox color="primary" [formControl]="wUmowaOPraceCzasNieokreslony">
            Umowa o pracę, czas nieokreślony
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" color="primary" [formControl]="wUmowaOPraceCzasOkreslony">
            Umowa o pracę, czas określony
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" disabled matTooltip="Opcja dostępna wkrótce" color="primary"
            [formControl]="wUmowaZlecenieDzielo">
            Umowa Zlecenie / o dzieło
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" color="primary" [formControl]="uUmowaNaZastepstwo">
            Umowa na zastępstwo
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" color="primary" [formControl]="wDzialanoscGospodarcza">
            Działalność gospodarcza
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" color="primary" [formControl]="wDochodyZnajmu">
            Dochody z najmu
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" disabled matTooltip="Opcja dostępna wkrótce" color="primary"
            [formControl]="wEmerytura">
            Emerytura
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" color="primary" [formControl]="wRenta">
            Renta na czas nieokreślony
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" color="primary" [formControl]="wDywidendy">
            Dywidendy
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" color="primary" [formControl]="wDietyDelegacje">
            Diety / delegacje
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" color="primary" [formControl]="wDochodyMarynarzy">
            Dochody marynarzy
          </mat-checkbox>
        </div>

        <div class="filtry-elementy">
          <mat-checkbox matTooltip="Opcja dostępna wkrótce" color="primary" [formControl]="wPowolanie">
            Powołanie (np. członka zarządu)
          </mat-checkbox>
        </div>



        <mat-divider></mat-divider>





      </div>
    </mat-sidenav>

    <!-- 
      DRUGI SIDE NAW - LEWY
    -->
    <mat-sidenav opened="true" fixedTopGap="64" style="z-index: 100; " #snav2
      [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="64">

      <button style="height: 0; position: absolute;" mat-icon-button>
      </button> <!-- bierze na siebie focus po otwarciu sidenav-->


      <button (click)="snav2.toggle()" style="float: right; overflow: auto;" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>

      <div class="side-naw filtry">


        <form [formGroup]="myGroup">



          <!-- stara class: class="dane-o-kredycie-element"-->



          <div class="dane-naglowek">Wartość nieruchomości</div>

          <!-- WARTOŚĆ NIERUCHOMOŚCI-->
          <mat-form-field hideRequiredMarker class="filtry-elementy">
            <input autofocus required min="100000" max="2000000" formControlName="formWartoscNieruchomosci"
              (input)="mWartoscNieruchomosci=$event.target.value" matInput type="number" matInput
              [ngModel]="ngWartoscNieruchomosci" (ngModelChange)="ngWartoscNieruchomosciZmiana($event)">
            <mat-error>{{errorMessageformWartoscNieruchomosci}}</mat-error>
            <span matSuffix>zł</span>
          </mat-form-field>



          <div class="dane-naglowek">Wkład własny: <span *ngIf="wkladWlasnyNowy > 0">{{wkladWlasnyNowy |
              currency:'zł':'symbol':'1.0-0':'fr'}}</span></div>
          <div class="dane-naglowek">Kwota kredytu: <span *ngIf="wkladWlasnyNowy > 0">{{ngWartoscNieruchomosci -
              wkladWlasnyNowy | currency:'zł':'symbol':'1.0-0':'fr'}}</span>
          </div>

          <mat-slider (input)="sliderSunie($event)" style="margin-top: 20px;" class="filtry-elementy suwak" thumbLabel
            [displayWith]="formatLabel" min="10" max="49">
          </mat-slider>




          <!--WKŁAD WŁASNY
          <mat-form-field hideRequiredMarker class="filtry-elementy">
            <input required min="6000" max="2000000" formControlName="formWkladWlasny"
              (input)="mwkladWlasny=$event.target.value"  matInput type="number"  matInput>
            <mat-error>{{errorMessageformWkladWlasny}}</mat-error>
            <span matSuffix>zł</span>
          </mat-form-field>
-->




          <div class="dane-naglowek">Liczba lat</div>

          <!--LICZBA LAT-->
          <mat-form-field hideRequiredMarker class="filtry-elementy">
            <input [ngModel]="ngLiczbaLat" min="5" max="35" required formControlName="formLiczbaLat"
              (input)="mLiczbaLat=$event.target.value" matInput type="number" matInput>
            <mat-error>{{errorMessageformLiczbaLat}}</mat-error>
          </mat-form-field>





          <!--POKAŻ OPCJE ZAAWANSOWANE-->
          <mat-slide-toggle class="filtry-elementy" style="margin-top: 25px; margin-bottom: 25px;" color="primary"
            [ngModelOptions]="{standalone: true}" [(ngModel)]="mpokazOpcjeZaawansowane">
            Opcje
            zaawansowane
          </mat-slide-toggle>

          <mat-divider *ngIf="mpokazOpcjeZaawansowane"></mat-divider>

          <div *ngIf="mpokazOpcjeZaawansowane" class="dane-naglowek">Rodzaj nieruchomości</div>


          <!--RODZAJ NIERUCHOMOSCI-->
          <mat-form-field *ngIf="mpokazOpcjeZaawansowane" class="filtry-elementy">
            <mat-select [disabled]="true" [value]="selectedOptionRodzajNieruchomosci">
              <mat-option *ngFor="let RodzajNieruchomosci of RodzajeNieruchomosci" [value]="RodzajNieruchomosci.value">
                {{RodzajNieruchomosci.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint>Opcja zmiany dostępna wkrótce</mat-hint>
          </mat-form-field>

          <div *ngIf="mpokazOpcjeZaawansowane" class="dane-naglowek">Rodzaj rat</div>

          <!--RODZAJ RAT-->
          <mat-form-field *ngIf="mpokazOpcjeZaawansowane" class="filtry-elementy">
            <mat-select [disabled]="true" [value]="selectedOptionRaty">
              <mat-option *ngFor="let RodzajRat of RodzajeRat" [value]="RodzajRat.value">
                {{RodzajRat.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint>Opcja zmiany dostępna wkrótce</mat-hint>
          </mat-form-field>


          <div *ngIf="mpokazOpcjeZaawansowane" class="dane-naglowek">WIBOR 3M</div>

          <!--WIBOR 3M-->
          <mat-form-field hideRequiredMarker *ngIf="mpokazOpcjeZaawansowane" class="filtry-elementy">
            <input required min="-10" max="10" formControlName="formWIBOR3M" [(ngModel)]="mWIBOR3M"
              (ngModelChange)="mWIBOR3M = $event" matInput type="number" matInput (input)="mWIBOR3M">
            <span matSuffix>%</span>
            <mat-error>min. -10, max. 10</mat-error>
          </mat-form-field>

          <div *ngIf="mpokazOpcjeZaawansowane" class="dane-naglowek">WIBOR 6M</div>

          <!--WIBOR 6M-->
          <mat-form-field hideRequiredMarker *ngIf="mpokazOpcjeZaawansowane" class="filtry-elementy">
            <input required min="-10" max="10" formControlName="formWIBOR6M" [(ngModel)]="mWIBOR6M"
              (ngModelChange)="mWIBOR6M = $event" matInput type="number" matInput (input)="mWIBOR6M">
            <span matSuffix>%</span>
            <mat-error>min. -10, max. 10</mat-error>
          </mat-form-field>


          <!--PRZYCISK PRZELICZ-->

          <button mat-button disableRipple [disabled]="!myGroup.valid" class="neumorphism_side-bar"
            style="margin-right: 20px; margin-top: 18px; padding-top: 4px; padding-bottom: 4px;" mat-raised-button
            color="primary" (click)="calculateOffers()"
            onclick='FB.AppEvents.logEvent("Przelicz_navBar_Clicked")'>PRZELICZ</button>
          <div *ngIf="!myGroup.valid" class="error-pod-przelicz">Uzupełnij poprawnie powyższe pola <br>i kliknij
            PRZELICZ
          </div>


          <!-- PRZYCISK KONTAKT Z DORADCĄ-->
          <button mat-button disableRipple class="neumorphism_side-bar" style="margin-right: 20px; margin-top: 18px;"
            mat-raised-button color="accent" (click)="openDialogKontakt()"
            onclick='FB.AppEvents.logEvent("Kontakt_z_doradca_navBar_Clicked")'>
            <mat-icon>contact_support</mat-icon> ZAPYTAJ DORADCĘ
          </button>

          <!-- PRZYCISK SPRAWDŹ ZDOLNOŚĆ-->
          <button mat-button disableRipple class="neumorphism_side-bar" style="margin-right: 20px; margin-top: 18px;"
            mat-raised-button color="accent" (click)="openZohoForm()"
            onclick='FB.AppEvents.logEvent("Sprawdz_zdolnosc__navBar_Clicked")'>
            <mat-icon>calculate</mat-icon> OBLICZ ZDOLNOŚĆ
          </button>



        </form>






        <!-- narazie tego poniżej nie pokazój, dopóki nie będzie na samym dole zawsze

          <mat-nav-list>
          <a mat-list-item routerLink=".">O porównywarce </a>
          <a mat-list-item routerLink=".">Kontakt </a>
        </mat-nav-list>

          -->



        <div style="width: 200px; font-size: 11px; margin-top: 30px; text-align: center;">
          Ta strona korzysta z anonimizowanych plików cookies. Możesz określić warunki ich przechowywania lub dostępu do
          nich. <a href="https://middlers.pl/polityka-cookies.html">Polityka cookies</a>
        </div>

        <button (click)="openDialogBlad()" class="butoon-blad" mat-button color="warn">Zgłoś błąd na stronie</button>


      </div>
    </mat-sidenav>






    <mat-sidenav-content>



      <div class="mat-app-background">



        <!-- T
        A
          B
            E
              L
                A-->
        <div id="kontener" class="wasko">

          <!--Przykrywka przykrywająca tabelę na początku-->


          <div #przykrywkaPoczatkowa class="example-loading-shade">
            <h1 style="margin-top: 150px; margin-left: 8px;">
              <span (click)="snav2.toggle()">
                <mat-icon>edit</mat-icon> EDYTUJ DANE
              </span> i kliknij
              <button [disabled]="!myGroup.valid" style="margin-right: 20px; margin-top: 18px;" mat-raised-button
                color="primary" (click)="calculateOffers()"
                onclick='FB.AppEvents.logEvent("Przelicz_przykrywka_Clicked")'>PRZELICZ</button>
              <div *ngIf="!myGroup.valid" class="error-pod-przelicz">Uzupełnij poprawnie dane
              </div>aby
              zobaczyć wyniki w
              tabeli.
            </h1>
          </div>

          <table id="tabela" mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

            <!-- Szczegóły Column -->
            <ng-container matColumnDef="szczegoly">
              <th class="szczegoly" mat-header-cell *matHeaderCellDef mat-header> </th>
              <td mat-cell *matCellDef="let element">
                <mat-icon>{{ expandedElement !==element ? 'expand_more' : 'expand_less' }}</mat-icon>
              </td>
            </ng-container>

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th style="padding-right: 22px;" mat-header-cell *matHeaderCellDef>
                <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let row">
                <mat-checkbox color="primary" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
              </td>
            </ng-container>


            <!-- Bank Column -->
            <ng-container matColumnDef="bank">
              <th class="cell-bank" mat-header-cell *matHeaderCellDef mat-sort-header> Bank </th>
              <td mat-cell *matCellDef="let element"> <img style="height: 36px;" [src]="element.logoURL" /> </td>
            </ng-container>

            <!-- ofertaNazwa Column -->
            <ng-container matColumnDef="ofertaNazwa">
              <th matTooltip="Nazwa oferty, marketingowa lub własna." class="cell-oferta-nazwa" mat-header-cell
                *matHeaderCellDef mat-sort-header> Oferta </th>
              <td mat-cell *matCellDef="let element"> <b> {{element.ofertaNazwa}} {{element.alternatywnyOpisOferty}}</b>
                <br>
                <div style="font-size: 11px; color: gray;">{{element.ofertaNazwaDopisek}}</div>
              </td>
            </ng-container>

            <!--Koszty całkowite Column -->
            <ng-container matColumnDef="kosztyCalkowite">
              <th matTooltip="Suma wszystkich kosztów jakie trzeba zapłacić korzystając z danej oferty."
                class="cell-numer" arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header> Koszty <br>
                całkowite </th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.kosztyCalkowite | currency:'zł':'symbol':'1.0-0':'fr' }}</td>
            </ng-container>

            <!-- Opłaty na Start Column -->
            <ng-container matColumnDef="kosztyPoczatkowe">
              <th
                matTooltip="Suma opłat płatnych gotówką przed uruchomieniem kredytu. W niektórych przypadkach można je kredytować."
                arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header> Opłaty <br>na start </th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.kosztyPoczatkowe | currency:'zł':'symbol':'1.0-0':'fr' }}</td>
            </ng-container>

            <!-- rata Column -->
            <ng-container matColumnDef="rata">
              <th
                matTooltip="Wysokość pierwszej raty. Kolejne mogą maleć lub rosnąć jesli oferta zakłada zmianę oprocentowania w trakcie trwania kredytu."
                arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header> Pierwsza rata <br> miesięczna
              </th>
              <td class="cell-numer" class="cell-numer" mat-cell *matCellDef="let element">
                {{element.rata | currency:'zł':'symbol':'1.0-0':'fr' }}</td>
            </ng-container>

            <!-- Opłaty miesięczne -->
            <ng-container matColumnDef="oplatyMiesieczne">
              <th arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header
                matTooltip="Suma dodatkowych opłat płatnych co miesiąc (lub co roku w przeliczeniu na miesiące). Mogą maleć w miarę spłaty kredytu.">
                Opłaty<br>miesięczne</th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.oplatyMiesieczne| currency:'zł':'symbol':'1.0-0':'fr' }}</td>
            </ng-container>

            <!-- Marża -->
            <ng-container matColumnDef="marza">
              <th arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header
                matTooltip="Marża lub oprocentowanie nominalne dla ofert z czasowym oprocentowaniem stałym.">
                Marża<br>podstawowa</th>
              <td class="cell-numer" mat-cell *matCellDef="let element"> {{element.marza | number : '1.2-2' }}
                %</td>
            </ng-container>



            <!-- WIBOR rodzaj Column -->
            <ng-container matColumnDef="WIBOR">
              <th arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header
                matTooltip="Rrodzaj stawki WIBOR jaka jest brana do obliczeń danej oferty.">WIBOR
              </th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.WIBOR}} </td>
            </ng-container>


            <!-- LTV rodzaj Column -->
            <ng-container matColumnDef="LTVobliczone">
              <th arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header
                matTooltip="Informuje jaki procent wartości nieruchomości jest kredytowany.">LTV
              </th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.LTVobliczone * 100 | number : '1.0-1' }} % </td>
            </ng-container>

            <!-- LTV rodzaj Column -->
            <ng-container matColumnDef="doKiedyObowiazuje">
              <th arrowPosition="before" mat-header-cell *matHeaderCellDef mat-sort-header
                matTooltip="Informuje jaki procent wartości nieruchomości jest kredytowany.">Obowiązuje do:
              </th>
              <td class="cell-numer" mat-cell *matCellDef="let element">
                {{element.doKiedyObowiazuje}}</td>
            </ng-container>




            <!-- WIERSZ ROZWIJANY -->
            <ng-container matColumnDef="expandedDetail">
              <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

                <div class="kontenerRozwijany">
                  <!--WARUNKI OFERTY-->
                  <div class="example-element-detail"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <!-- style="white-space: pre-wrap" sprawia, że \n robi nową linię -->
                    <div class="example-element-description" style="white-space: pre-wrap; width: 600px;">
                      <b>Warunki oferty:</b>
                      <div style="padding-left: 4px;">{{element.warunkiOferty}}
                      </div>

                    </div>
                  </div>


                  <!--OPŁATY NA START-->
                  <div class="example-element-detail opisyLiczbowe"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <!-- style="white-space: pre-wrap" sprawia, że \n robi nową linię -->
                    <div class="example-element-description " style="white-space: pre-wrap;">
                      <b>Opłaty na start:</b>
                      <div *ngIf="element.prowizjaSuma != 0">
                        Prowizja: {{element.prowizjaSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.wycenaMieszkanie != 0">
                        Wycena: {{element.wycenaMieszkanie | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.ubezZycieNaStartSuma != 0">
                        Ubezpieczenie na życie: {{element.ubezZycieNaStartSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.upezpPracaNaStartSuma != 0">
                        Ubezpieczenie od utraty pracy:
                        {{element.upezpPracaNaStartSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                    </div>
                  </div>


                  <!--OPŁATY MIESIĘCZNE-->
                  <div class="example-element-detail opisyLiczbowe"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <!-- style="white-space: pre-wrap" sprawia, że \n robi nową linię -->
                    <div class="example-element-description" style="white-space: pre-wrap; width: 500px;">
                      <b
                        matTooltip="Opłaty dodatkowe płatne co miesiąc (lub co roku ale w przeliczeniu na miesiące dla łatwiejszego porównania). Mogą maleć w miarę spłaty kredytu, szczegóły w warunkach oferty.">Opłaty
                        miesięczne:</b>
                      <div *ngIf="element.ubezpZycieSuma != 0">
                        Ubezpieczenie na życie: {{element.ubezpZycieSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.ubezpNieruchSuma != 0">
                        Ubezpieczenie nieruchomości: {{element.ubezpNieruchSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                    </div>
                  </div>


                  <!--KOSZTY CAŁKOWITE-->
                  <div class="example-element-detail opisyLiczbowe"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <!-- style="white-space: pre-wrap" sprawia, że \n robi nową linię -->
                    <div class="example-element-description" style="white-space: pre-wrap; width: 500px;">
                      <b>Koszty całkowite:</b>
                      <div *ngIf="element.odsetkiSuma != 0">
                        Odsetki: {{element.odsetkiSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.prowizjaSuma != 0">
                        Prowizja: {{element.prowizjaSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.wycenaMieszkanie != 0">
                        Wycena: {{element.wycenaMieszkanie | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.ubezpNieruchTOTAL != 0">
                        Ubezpieczenie nieruchomości:
                        {{element.ubezpNieruchTOTAL | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                      <div *ngIf="element.ubezpZycieTOTAL + element.ubezZycieNaStartSuma != 0">
                        Ubezpieczenie na życie:
                        {{element.ubezpZycieTOTAL + element.ubezZycieNaStartSuma | currency:'zł':'symbol':'1.0-0':'fr'
                        }}
                      </div>
                      <div *ngIf="element.upezpPracaNaStartSuma != 0">
                        Ubezpieczenie od utraty pracy:
                        {{element.upezpPracaNaStartSuma | currency:'zł':'symbol':'1.0-0':'fr' }}
                      </div>
                    </div>
                  </div>


                  <!--LINK DO OFERTY-->
                  <div class="example-element-detail opisyLiczbowe"
                    [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <!-- style="white-space: pre-wrap" sprawia, że \n robi nową linię -->
                    <div class="example-element-description " style="white-space: pre-wrap; width: 500px;">
                      Data obowiązywania: {{element.doKiedyObowiazuje}}
                      <br>
                      ID#{{element.id}}
                    </div>
                  </div>


                </div>


              </td>
            </ng-container>




            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = expandedElement === element ? null : element">></tr>

            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

          </table>
        </div>

        <!--pokaż to jeśli nie będzie ofert spełniających kryteria-->
        <mat-card class="karta-brak-ofert" *ngIf="dataSource && dataSource.filteredData.length === 0">
          <mat-card-header>
            <mat-card-title>Brak ofert spełniających zadane kryteria.</mat-card-title>
            <mat-card-subtitle>Spróbuj zmniejszyć kwotę kredytu lub wyłacz filtry. Pamiętaj, że kwota
              kredytu
              nie może być wyższa, niż 90% wartości nieruchomości.</mat-card-subtitle>
          </mat-card-header>
        </mat-card>


        <!--to jest paginator na dole tabeli-->
        <mat-paginator [pageSizeOptions]="[20, 30, 50]"></mat-paginator>





        <footer class="stopka">Podane na tej stronie informacje mają charakter wyłącznie poglądowy i nie stanowią oferty
          w rozumieniu
          przepisów
          kodeksu
          cywilnego ani przyrzeczenia udzielenia określonego w
          jego treści finansowania. Pomimo dołożenia wszelkich starań może zawierać błędy i/lub pewne uproszczenia.
          Strona zawiera wyłącznie informacje dodatkowe, które zgodnie z art.12 ustawy o kredycie
          hipotecznym oraz o nadzorze nad pośrednikami
          kredytu hipotecznego i agentami mogą być przekazane konsumentowi przez agenta kredytu hipotecznego. Celem
          strony
          jest zwrócenie uwagi konsumenta na
          parametry poszczególnych ofert kredytowych. Wszelkie informacje wymagane przepisami ustawy o kredycie
          hipotecznym
          oraz
          o nadzorze nad pośrednikami
          kredytu hipotecznego i agentami przekazywane są oddzielnie w dokumentach i terminach uwzględniających
          procedury
          kredytowe poszczególnych kredytodawców.
          <br>
          <br>
          Middlers Sp. z o.o. z siedzibą we Wrocławiu ul. Leszczyńskiego 4/29, 50-078 Wrocław, zarejestrowana w Sądzie
          Rejonowym dla Wrocławia-Fabrycznej KRS 0000532823, NIP 8971803272, REGON 360170795 kapitał zakładowy 5.000,00
          zł wpłacony w całości.

          <br>
          <br>

          <a href="https://middlers.pl/polityka-prywatnosci.html">Polityka prywatnosci</a>
          <br>
          <br>
          <a href="https://middlers.pl/polityka-cookies.html">Polityka cookies</a>

        </footer>


        <table mat-table [dataSource]="wiborDataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="wiborDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: wiborDisplayedColumns;"></tr>
        </table>




      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>


</div>




<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->